<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geely.dao.admin.EmployeeAccountMapper" >
  <resultMap id="BaseResultMap" type="com.geely.entity.admin.EmployeeAccount" >
    <constructor >
      <idArg column="account_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="account_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="account_password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="account_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="account_last" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    account_id, account_name, account_password, account_create, account_last
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee_account_tb
    where account_id = #{accountId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee_account_tb
    where account_id = #{accountId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geely.entity.admin.EmployeeAccount" >
    insert into employee_account_tb (account_id, account_name, account_password, 
      account_create, account_last)
    values (#{accountId,jdbcType=INTEGER}, #{accountName,jdbcType=VARCHAR}, #{accountPassword,jdbcType=VARCHAR}, 
      #{accountCreate,jdbcType=TIMESTAMP}, #{accountLast,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.geely.entity.admin.EmployeeAccount" >
    insert into employee_account_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="accountPassword != null" >
        account_password,
      </if>
      <if test="accountCreate != null" >
        account_create,
      </if>
      <if test="accountLast != null" >
        account_last,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null" >
        #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="accountCreate != null" >
        #{accountCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="accountLast != null" >
        #{accountLast,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.admin.EmployeeAccount" >
    update employee_account_tb
    <set >
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null" >
        account_password = #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="accountCreate != null" >
        account_create = #{accountCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="accountLast != null" >
        account_last = #{accountLast,jdbcType=TIMESTAMP},
      </if>
    </set>
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.admin.EmployeeAccount" >
    update employee_account_tb
    set account_name = #{accountName,jdbcType=VARCHAR},
      account_password = #{accountPassword,jdbcType=VARCHAR},
      account_create = #{accountCreate,jdbcType=TIMESTAMP},
      account_last = #{accountLast,jdbcType=TIMESTAMP}
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
</mapper>