<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geely.dao.admin.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.geely.entity.admin.Menu" >
    <constructor >
      <idArg column="menu_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="menu_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="menu_parent" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="menu_pid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="menu_url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_name, menu_parent, menu_pid, menu_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu_tb
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu_tb
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geely.entity.admin.Menu" >
    insert into menu_tb (menu_id, menu_name, menu_parent, 
      menu_pid, menu_url)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuParent,jdbcType=CHAR}, 
      #{menuPid,jdbcType=INTEGER}, #{menuUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.geely.entity.admin.Menu" >
    insert into menu_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuParent != null" >
        menu_parent,
      </if>
      <if test="menuPid != null" >
        menu_pid,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuParent != null" >
        #{menuParent,jdbcType=CHAR},
      </if>
      <if test="menuPid != null" >
        #{menuPid,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.admin.Menu" >
    update menu_tb
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuParent != null" >
        menu_parent = #{menuParent,jdbcType=CHAR},
      </if>
      <if test="menuPid != null" >
        menu_pid = #{menuPid,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.admin.Menu" >
    update menu_tb
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_parent = #{menuParent,jdbcType=CHAR},
      menu_pid = #{menuPid,jdbcType=INTEGER},
      menu_url = #{menuUrl,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>