<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geely.dao.admin.MenuDeptMapper" >
  <resultMap id="BaseResultMap" type="com.geely.entity.admin.MenuDept" >
    <constructor >
      <idArg column="menu_dept_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="menu_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dept_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    menu_dept_id, menu_id, dept_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu_dept_tb
    where menu_dept_id = #{menuDeptId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu_dept_tb
    where menu_dept_id = #{menuDeptId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geely.entity.admin.MenuDept" >
    insert into menu_dept_tb (menu_dept_id, menu_id, dept_id
      )
    values (#{menuDeptId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.geely.entity.admin.MenuDept" >
    insert into menu_dept_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuDeptId != null" >
        menu_dept_id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuDeptId != null" >
        #{menuDeptId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.admin.MenuDept" >
    update menu_dept_tb
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
    </set>
    where menu_dept_id = #{menuDeptId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.admin.MenuDept" >
    update menu_dept_tb
    set menu_id = #{menuId,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=INTEGER}
    where menu_dept_id = #{menuDeptId,jdbcType=INTEGER}
  </update>
</mapper>