<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geely.dao.admin.ProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.geely.entity.admin.ProductCategory" >
    <constructor >
      <idArg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="category_parent" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="category_describe" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="category_last" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    category_id, category_name, category_parent, category_status, category_describe, 
    category_last
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_category_tb
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_category_tb
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geely.entity.admin.ProductCategory" >
    insert into product_category_tb (category_id, category_name, category_parent, 
      category_status, category_describe, category_last
      )
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{categoryParent,jdbcType=INTEGER}, 
      #{categoryStatus,jdbcType=VARCHAR}, #{categoryDescribe,jdbcType=VARCHAR}, #{categoryLast,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.geely.entity.admin.ProductCategory" >
    insert into product_category_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="categoryParent != null" >
        category_parent,
      </if>
      <if test="categoryStatus != null" >
        category_status,
      </if>
      <if test="categoryDescribe != null" >
        category_describe,
      </if>
      <if test="categoryLast != null" >
        category_last,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryParent != null" >
        #{categoryParent,jdbcType=INTEGER},
      </if>
      <if test="categoryStatus != null" >
        #{categoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescribe != null" >
        #{categoryDescribe,jdbcType=VARCHAR},
      </if>
      <if test="categoryLast != null" >
        #{categoryLast,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.admin.ProductCategory" >
    update product_category_tb
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryParent != null" >
        category_parent = #{categoryParent,jdbcType=INTEGER},
      </if>
      <if test="categoryStatus != null" >
        category_status = #{categoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescribe != null" >
        category_describe = #{categoryDescribe,jdbcType=VARCHAR},
      </if>
      <if test="categoryLast != null" >
        category_last = #{categoryLast,jdbcType=TIMESTAMP},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.admin.ProductCategory" >
    update product_category_tb
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_parent = #{categoryParent,jdbcType=INTEGER},
      category_status = #{categoryStatus,jdbcType=VARCHAR},
      category_describe = #{categoryDescribe,jdbcType=VARCHAR},
      category_last = #{categoryLast,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>