<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geely.dao.admin.ProductImageMapper" >
  <resultMap id="BaseResultMap" type="com.geely.entity.admin.ProductImage" >
    <constructor >
      <idArg column="image_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="image_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="image_master" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="image_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="image_describe" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="image_last" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    image_id, image_name, image_master, image_status, image_describe, image_last
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_image_tb
    where image_id = #{imageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_image_tb
    where image_id = #{imageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geely.entity.admin.ProductImage" >
    insert into product_image_tb (image_id, image_name, image_master, 
      image_status, image_describe, image_last
      )
    values (#{imageId,jdbcType=INTEGER}, #{imageName,jdbcType=VARCHAR}, #{imageMaster,jdbcType=VARCHAR}, 
      #{imageStatus,jdbcType=VARCHAR}, #{imageDescribe,jdbcType=VARCHAR}, #{imageLast,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.geely.entity.admin.ProductImage" >
    insert into product_image_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="imageName != null" >
        image_name,
      </if>
      <if test="imageMaster != null" >
        image_master,
      </if>
      <if test="imageStatus != null" >
        image_status,
      </if>
      <if test="imageDescribe != null" >
        image_describe,
      </if>
      <if test="imageLast != null" >
        image_last,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="imageName != null" >
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="imageMaster != null" >
        #{imageMaster,jdbcType=VARCHAR},
      </if>
      <if test="imageStatus != null" >
        #{imageStatus,jdbcType=VARCHAR},
      </if>
      <if test="imageDescribe != null" >
        #{imageDescribe,jdbcType=VARCHAR},
      </if>
      <if test="imageLast != null" >
        #{imageLast,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.admin.ProductImage" >
    update product_image_tb
    <set >
      <if test="imageName != null" >
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="imageMaster != null" >
        image_master = #{imageMaster,jdbcType=VARCHAR},
      </if>
      <if test="imageStatus != null" >
        image_status = #{imageStatus,jdbcType=VARCHAR},
      </if>
      <if test="imageDescribe != null" >
        image_describe = #{imageDescribe,jdbcType=VARCHAR},
      </if>
      <if test="imageLast != null" >
        image_last = #{imageLast,jdbcType=TIMESTAMP},
      </if>
    </set>
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.admin.ProductImage" >
    update product_image_tb
    set image_name = #{imageName,jdbcType=VARCHAR},
      image_master = #{imageMaster,jdbcType=VARCHAR},
      image_status = #{imageStatus,jdbcType=VARCHAR},
      image_describe = #{imageDescribe,jdbcType=VARCHAR},
      image_last = #{imageLast,jdbcType=TIMESTAMP}
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
</mapper>