<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geely.dao.admin.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.geely.entity.admin.Product" >
    <constructor >
      <idArg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_price" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="product_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_describe" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="product_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="product_last" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_name, product_price, product_image, product_describe, product_status, 
    product_create, product_last
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_tb
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_tb
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geely.entity.admin.Product" >
    insert into product_tb (product_id, product_name, product_price, 
      product_image, product_describe, product_status, 
      product_create, product_last)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, 
      #{productImage,jdbcType=VARCHAR}, #{productDescribe,jdbcType=VARCHAR}, #{productStatus,jdbcType=CHAR}, 
      #{productCreate,jdbcType=TIMESTAMP}, #{productLast,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.geely.entity.admin.Product" >
    insert into product_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="productImage != null" >
        product_image,
      </if>
      <if test="productDescribe != null" >
        product_describe,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="productCreate != null" >
        product_create,
      </if>
      <if test="productLast != null" >
        product_last,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productImage != null" >
        #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="productDescribe != null" >
        #{productDescribe,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=CHAR},
      </if>
      <if test="productCreate != null" >
        #{productCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="productLast != null" >
        #{productLast,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.admin.Product" >
    update product_tb
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productImage != null" >
        product_image = #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="productDescribe != null" >
        product_describe = #{productDescribe,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=CHAR},
      </if>
      <if test="productCreate != null" >
        product_create = #{productCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="productLast != null" >
        product_last = #{productLast,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.admin.Product" >
    update product_tb
    set product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_image = #{productImage,jdbcType=VARCHAR},
      product_describe = #{productDescribe,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=CHAR},
      product_create = #{productCreate,jdbcType=TIMESTAMP},
      product_last = #{productLast,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>