<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geely.dao.admin.ProductModelMapper" >
  <resultMap id="BaseResultMap" type="com.geely.entity.admin.ProductModel" >
    <constructor >
      <idArg column="model_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="model_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="model_price" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="model_describe" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="model_last" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    model_id, model_name, model_price, model_describe, model_last
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_model_tb
    where model_id = #{modelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_model_tb
    where model_id = #{modelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geely.entity.admin.ProductModel" >
    insert into product_model_tb (model_id, model_name, model_price, 
      model_describe, model_last)
    values (#{modelId,jdbcType=INTEGER}, #{modelName,jdbcType=VARCHAR}, #{modelPrice,jdbcType=DECIMAL}, 
      #{modelDescribe,jdbcType=VARCHAR}, #{modelLast,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.geely.entity.admin.ProductModel" >
    insert into product_model_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="modelName != null" >
        model_name,
      </if>
      <if test="modelPrice != null" >
        model_price,
      </if>
      <if test="modelDescribe != null" >
        model_describe,
      </if>
      <if test="modelLast != null" >
        model_last,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="modelName != null" >
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelPrice != null" >
        #{modelPrice,jdbcType=DECIMAL},
      </if>
      <if test="modelDescribe != null" >
        #{modelDescribe,jdbcType=VARCHAR},
      </if>
      <if test="modelLast != null" >
        #{modelLast,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.admin.ProductModel" >
    update product_model_tb
    <set >
      <if test="modelName != null" >
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelPrice != null" >
        model_price = #{modelPrice,jdbcType=DECIMAL},
      </if>
      <if test="modelDescribe != null" >
        model_describe = #{modelDescribe,jdbcType=VARCHAR},
      </if>
      <if test="modelLast != null" >
        model_last = #{modelLast,jdbcType=TIMESTAMP},
      </if>
    </set>
    where model_id = #{modelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.admin.ProductModel" >
    update product_model_tb
    set model_name = #{modelName,jdbcType=VARCHAR},
      model_price = #{modelPrice,jdbcType=DECIMAL},
      model_describe = #{modelDescribe,jdbcType=VARCHAR},
      model_last = #{modelLast,jdbcType=TIMESTAMP}
    where model_id = #{modelId,jdbcType=INTEGER}
  </update>
</mapper>