<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geely.dao.AccountInfoTbMapper">
  <resultMap id="BaseResultMap" type="com.geely.entity.AccountInfoTb">
    <!--@mbg.generated-->
    <id column="account_info_id" jdbcType="INTEGER" property="accountInfoId" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    account_info_id, account_id, info_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from account_info_tb
    where account_info_id = #{accountInfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from account_info_tb
    where account_info_id = #{accountInfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="account_info_id" keyProperty="accountInfoId" parameterType="com.geely.entity.AccountInfoTb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account_info_tb (account_id, info_id)
    values (#{accountId,jdbcType=INTEGER}, #{infoId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="account_info_id" keyProperty="accountInfoId" parameterType="com.geely.entity.AccountInfoTb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account_info_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        account_id,
      </if>
      <if test="infoId != null">
        info_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="infoId != null">
        #{infoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.AccountInfoTb">
    <!--@mbg.generated-->
    update account_info_tb
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="infoId != null">
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
    </set>
    where account_info_id = #{accountInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.AccountInfoTb">
    <!--@mbg.generated-->
    update account_info_tb
    set account_id = #{accountId,jdbcType=INTEGER},
      info_id = #{infoId,jdbcType=INTEGER}
    where account_info_id = #{accountInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update account_info_tb
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="account_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when account_info_id = #{item.accountInfoId,jdbcType=INTEGER} then #{item.accountId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="info_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when account_info_id = #{item.accountInfoId,jdbcType=INTEGER} then #{item.infoId,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where account_info_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.accountInfoId,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="account_info_id" keyProperty="accountInfoId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account_info_tb
    (account_id, info_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.accountId,jdbcType=INTEGER}, #{item.infoId,jdbcType=INTEGER})
    </foreach>
  </insert>


</mapper>