<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geely.dao.CustomerCommentTbMapper">
  <resultMap id="BaseResultMap" type="com.geely.entity.CustomerCommentTb">
    <!--@mbg.generated-->
    <id column="customer_comment_id" jdbcType="INTEGER" property="customerCommentId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    customer_comment_id, customer_id, comment_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from customer_comment_tb
    where customer_comment_id = #{customerCommentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from customer_comment_tb
    where customer_comment_id = #{customerCommentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="customer_comment_id" keyProperty="customerCommentId" parameterType="com.geely.entity.CustomerCommentTb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer_comment_tb (customer_id, comment_id)
    values (#{customerId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="customer_comment_id" keyProperty="customerCommentId" parameterType="com.geely.entity.CustomerCommentTb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer_comment_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.CustomerCommentTb">
    <!--@mbg.generated-->
    update customer_comment_tb
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=INTEGER},
      </if>
    </set>
    where customer_comment_id = #{customerCommentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.CustomerCommentTb">
    <!--@mbg.generated-->
    update customer_comment_tb
    set customer_id = #{customerId,jdbcType=INTEGER},
      comment_id = #{commentId,jdbcType=INTEGER}
    where customer_comment_id = #{customerCommentId,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update customer_comment_tb
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="customer_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when customer_comment_id = #{item.customerCommentId,jdbcType=INTEGER} then #{item.customerId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="comment_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when customer_comment_id = #{item.customerCommentId,jdbcType=INTEGER} then #{item.commentId,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where customer_comment_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.customerCommentId,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="customer_comment_id" keyProperty="customerCommentId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer_comment_tb
    (customer_id, comment_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.customerId,jdbcType=INTEGER}, #{item.commentId,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>