<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geely.dao.ProductCategoryTbMapper">
  <resultMap id="BaseResultMap" type="com.geely.entity.ProductCategoryTb">
    <!--@mbg.generated-->
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_parent" jdbcType="INTEGER" property="categoryParent" />
    <result column="category_status" jdbcType="VARCHAR" property="categoryStatus" />
    <result column="category_describe" jdbcType="VARCHAR" property="categoryDescribe" />
    <result column="category_last" jdbcType="TIMESTAMP" property="categoryLast" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category_id, category_name, category_parent, category_status, category_describe, 
    category_last
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from product_category_tb
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from product_category_tb
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="category_id" keyProperty="categoryId" parameterType="com.geely.entity.ProductCategoryTb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product_category_tb (category_name, category_parent, category_status, 
      category_describe, category_last)
    values (#{categoryName,jdbcType=VARCHAR}, #{categoryParent,jdbcType=INTEGER}, #{categoryStatus,jdbcType=VARCHAR}, 
      #{categoryDescribe,jdbcType=VARCHAR}, #{categoryLast,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="category_id" keyProperty="categoryId" parameterType="com.geely.entity.ProductCategoryTb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product_category_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryParent != null">
        category_parent,
      </if>
      <if test="categoryStatus != null">
        category_status,
      </if>
      <if test="categoryDescribe != null">
        category_describe,
      </if>
      <if test="categoryLast != null">
        category_last,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryParent != null">
        #{categoryParent,jdbcType=INTEGER},
      </if>
      <if test="categoryStatus != null">
        #{categoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescribe != null">
        #{categoryDescribe,jdbcType=VARCHAR},
      </if>
      <if test="categoryLast != null">
        #{categoryLast,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.ProductCategoryTb">
    <!--@mbg.generated-->
    update product_category_tb
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryParent != null">
        category_parent = #{categoryParent,jdbcType=INTEGER},
      </if>
      <if test="categoryStatus != null">
        category_status = #{categoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescribe != null">
        category_describe = #{categoryDescribe,jdbcType=VARCHAR},
      </if>
      <if test="categoryLast != null">
        category_last = #{categoryLast,jdbcType=TIMESTAMP},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.ProductCategoryTb">
    <!--@mbg.generated-->
    update product_category_tb
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_parent = #{categoryParent,jdbcType=INTEGER},
      category_status = #{categoryStatus,jdbcType=VARCHAR},
      category_describe = #{categoryDescribe,jdbcType=VARCHAR},
      category_last = #{categoryLast,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update product_category_tb
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="category_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when category_id = #{item.categoryId,jdbcType=INTEGER} then #{item.categoryName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="category_parent = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when category_id = #{item.categoryId,jdbcType=INTEGER} then #{item.categoryParent,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="category_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when category_id = #{item.categoryId,jdbcType=INTEGER} then #{item.categoryStatus,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="category_describe = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when category_id = #{item.categoryId,jdbcType=INTEGER} then #{item.categoryDescribe,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="category_last = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when category_id = #{item.categoryId,jdbcType=INTEGER} then #{item.categoryLast,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where category_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.categoryId,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="category_id" keyProperty="categoryId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product_category_tb
    (category_name, category_parent, category_status, category_describe, category_last
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.categoryName,jdbcType=VARCHAR}, #{item.categoryParent,jdbcType=INTEGER}, 
        #{item.categoryStatus,jdbcType=VARCHAR}, #{item.categoryDescribe,jdbcType=VARCHAR}, 
        #{item.categoryLast,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>