<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geely.dao.ProductImageRelationTbMapper">
  <resultMap id="BaseResultMap" type="com.geely.entity.ProductImageRelationTb">
    <!--@mbg.generated-->
    <id column="pro_image_id" jdbcType="INTEGER" property="proImageId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="image_id" jdbcType="INTEGER" property="imageId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pro_image_id, product_id, image_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from product_image_relation_tb
    where pro_image_id = #{proImageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from product_image_relation_tb
    where pro_image_id = #{proImageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pro_image_id" keyProperty="proImageId" parameterType="com.geely.entity.ProductImageRelationTb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product_image_relation_tb (product_id, image_id)
    values (#{productId,jdbcType=INTEGER}, #{imageId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="pro_image_id" keyProperty="proImageId" parameterType="com.geely.entity.ProductImageRelationTb" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product_image_relation_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geely.entity.ProductImageRelationTb">
    <!--@mbg.generated-->
    update product_image_relation_tb
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
    </set>
    where pro_image_id = #{proImageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geely.entity.ProductImageRelationTb">
    <!--@mbg.generated-->
    update product_image_relation_tb
    set product_id = #{productId,jdbcType=INTEGER},
      image_id = #{imageId,jdbcType=INTEGER}
    where pro_image_id = #{proImageId,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update product_image_relation_tb
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pro_image_id = #{item.proImageId,jdbcType=INTEGER} then #{item.productId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="image_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when pro_image_id = #{item.proImageId,jdbcType=INTEGER} then #{item.imageId,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where pro_image_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.proImageId,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="pro_image_id" keyProperty="proImageId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product_image_relation_tb
    (product_id, image_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.productId,jdbcType=INTEGER}, #{item.imageId,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>